@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url('https://res.cloudinary.com/djlcf4ix9/raw/upload/v1757103932/Lausanne-300_r1z90g.woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: font2;
  src: url('https://res.cloudinary.com/djlcf4ix9/raw/upload/v1757104290/Lausanne-500_vbrxaq.woff2');
  font-weight: 500;
  font-style: normal;
}

.moveLink{
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.link:hover .moveLink{
  opacity: 1;
}
.moveX{
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveAnimation {
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-100%);
  }
}
/* html, body { height: 100%; }
body::-webkit-scrollbar { display: none; }
body { scrollbar-width: none; -ms-overflow-style: none; } */
/* .no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { scrollbar-width: none; -ms-overflow-style: none; } */
